html {
  scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin-top: 0px!important;
    padding-top: 0px!important;
}



/* Animations for background */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}


.wrapper{
    height: auto;

    background: url("../images/repeated_square_light.png") repeat 0 0;


    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
}

.logo a {
  color: rgb(255, 255, 255);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

.forgot{
  /* color: rgb(230, 230, 230)!important; */
  color:black!important;
}