html {
  scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin-top: 0px!important;
    padding-top: 0px!important;
}


@media(min-width : 768px){
  .nav-link{
    color: black !important;
    font-family: 'Muli';
    display: inline-block;
    margin: 0 2px 0 4px;
    padding: 8px 16px 8px 16px !important;  
    transition: 0.3s ease;
    border-radius: 4px;
  }
  
  .nav-link:hover{
    background-color: #0182AC;
    color: white !important;
  }
}

@media(max-width : 768px){
  .no-img{
    display: none !important;
  }
  nav{
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .hero-text{
    font-size: 40px;
    line-height: 40px;
  }
  .sub-hero{
    font-size: 30px;
  }
  .section-header{
    font-size: 35px;
  }
}


/* Animations for background */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
      background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}


@keyframes left-arrow{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-2%);
    }
}
@keyframes right-arrow{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(2%);
    }
}

@keyframes screenBlink{
  from{
    fill: #B3B3B3;
  }
  to {
    fill : #0182AC;
  }
}

@keyframes float{
  from{
    transform: translateY(0%);
  }
  to{
    transform: translateY(5%);
  }
}



.landing {
    height: auto;

    background: url("../images/repeated_square_light.png") repeat 0 0;

    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}


.hero-col{
    padding-left: 9% !important;
    margin-top: 2% !important;
}
.hero-text{
    font-family: 'Muli','Sans Serif';
    font-size: 60px;
    line-height: 80px;
    font-weight: 800;
}
.sub-hero{
    font-size: 30px;
    font-family: 'Muli','Sans Serif';
    font-weight: 600;
    color: #3F3D56;
}

.hero-img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


.section-about{
  position: auto;
  z-index: 100;
}

.section-header{
  font-size: 50px;
  font-family: 'Muli';
  font-weight: 800;
}

.about-img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 0!important;
    margin:0!important;
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  background: #0182AC;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


@supports (display: grid) {
    .container {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}


.btn-hover {
  width: 100px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  margin-left: 0px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.color-primary-dark{
    color: white;
    background-color: #09357A;
}

.color-primary-accent{
    color: white;
    background-color: #0182AC;
}

.color-primary-dark:hover{
    color: white;
}

.color-primary-accent:hover{
    color: white;
}


.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

