.body{
    padding: 0!important;
    margin: 0!important;
}

.wrapper{
    background: #fff!important;
}

.color-primary-dark{
    color: white;
    background-color: #09357A;
}

.profile-header{
    align-items: center;
    justify-content: flex-start;
}


.member-profile .show-desktop img{
    background: white;
    width: 220px;
    height: 220px;
    border: solid #fff 2px;
    border-radius: 110px 110px!important;
}

.member-profile .show-mobile img{
    background: white;
    width: 80px;
    height: 80px;
    border: solid #fff 2px;
    border-radius: 40px 40px!important;  
    float:left;
    margin-right: 20px;
}

.member-profile .show-mobile img::after{
    clear: both;
}

.member-profile .show-mobile .header-title{
    float:left;
}

.member-profile .show-mobile div::after{
    clear: both;
}

.show-mobile{
    display: none;
}

@media (max-width: 600px){
    .show-desktop{
        display: none;
    }
    .show-mobile{
        display: inline-block;
        align-items: center;
    }
}

.member-name{
    color: black;
    font-size: xx-large;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 48px;
}

.member-type{
    color: #333;
    font-size: medium;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 24px;
    margin-top: -6px;
}

.member-bio{
    font-size: small;
}

.edit-profile-btn{
    background: #fafafa;
    color:black;
    text-align: center;
    font-size: small;
    font-family: monospace;
    font-style:normal;
    font-weight: 800;
    width: 100%;
    border-radius: 4px 4px;
    box-shadow: 2px 2px 0 1px rgba(230, 230, 230, 0.8);
}

.info-highlights{
    font-size: small;
    align-self: baseline;
    align-items: baseline;
}

.info-highlights div{
    display: inline-block;
}


.sig-image{
    width: 100%;
}

.sig-manager{
    background: whitesmoke;
    font-size: small;
    width: fit-content;
    border-radius: 4px 4px;
}


.card-tags a{
    color: white!important;
    background-color: #389e1e!important;
    width: fit-content!important;
    text-decoration: none;
    border-radius: 4px;
    font-size: small;
}

.card-body h6{
    display: inline-block;
    color: white!important;
    background-color: #0f130e!important;
    width: fit-content!important;
    text-decoration: none;
    border-radius: 4px;
    font-size: small;
    display: inline;
}

.date{
    background-color: #f8f8f8!important;
    width: fit-content!important;
    border-radius: 4px;
    align-self: baseline;
}

.task-submitted{
    background-color: #389e1e!important;
    width: 100%;
    border-radius: 4px 4px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: 600;
    text-transform: uppercase;
}


.color-primary-accent{
    color: white;
    background-color: #0182AC;
}

a:hover{
    text-decoration: none!important;
}


