{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}
{{  user.username|default:'Guest' }}
{% endblock %}

{% block header_content %}

    <div class="row">
            <div class="profile-banner">
                <div class="profile-info color-primary-dark">
                    <img src="{{user.member.profile_image.url}}" alt="profile image"/>
                    <div class="profile-name">
                        {{  user.member.name|default:'Guest' }}
                    </div>

                    <div class="member-details">
                        <div class="class">{{user.member.branch}} {{user.member.year}}{{user.member.section}}</div>
                        <div class="sigs-joined"> 3 SIGs </div>
                    </div>

                    <div class="options">
                        <a href="{% url 'users:edit-profile' user.member.id %}" class="edit-profile">EDIT PROFILE</a>
                        <a href="#" class="member-type">{{user.member.member_type}}</a>
                    </div>
                </div>
            </div>  
    </div>

{% endblock %}



{% block content %}
    <div class="mt-4 mr-3 ml-3">
        <h4>&nbsp;SIGs Joined<h4>
        <div class="row sigs mt-2 mb-4 pt-4">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/sig_python.jpg' %}" class="sig-image"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/sig_tech.jpg' %}" class="sig-image"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/sig_soft.jpg' %}" class="sig-image"/>
                </div>
            </div>
        <div>
    </div> 
{% endblock content %}



