{% load static %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{user.member.profile_image.url}}" alt="profile-image"/>
    </a>
    <div id="userDropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'users:dashboard' %}"><i class="far fa-id-card"></i> Dashboard</a>
        <a class="dropdown-item" href="{% url 'users:sigs_joined' %}"><i class="fas fa-users"></i> SIGs</a>
        <a class="dropdown-item" href="#">
        <i class="fas fa-tasks"></i> Tasks</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'users:logout'%}">
            <i class="fas fa-sign-out-alt"> Logout</i>
        </a>
    </div>
</li>